fastapi==0.109.2
uvicorn==0.27.1
itsdangerous==2.2.0

# --- Database ---
SQLAlchemy==2.0.25
pymysql==1.1.0        # Sync MySQL 드라이버
asyncmy==0.2.9        # Async MySQL 드라이버
# python-dotenv==1.0.1  # 환경변수(.env) 로딩

# --- Hugging Face 모델 로딩 & 실행을 위한 패키지 ---
transformers==4.40.2
huggingface_hub==0.22.2
sentencepiece==0.1.99
safetensors==0.4.2
torch==2.2.1        # torch==2.2.1+cu118  # pytorch(GPU 사용 버전)
numpy==1.26.4